// Colors
$white: #fafafa;
$black: #1D1C1C;
$gray-light: #DFDFDF;
$green: #369139;
$green-light: #2EBC33;

// Text
$font-size-paragraph: 16px;
$font-size-title-big: 80px;
$font-size-title-normal: 70px;
$font-size-title-small: 43px;

// Borders
$border-width-default: 2px;

// Typograph
$font-family-default: "Lao UI Regular";
$font-family-title: "Lao UI Bold";