@import 'variables';
@import 'typograph';

body {
    font-family: $font-family-default, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1;
    color: #000;
    background-color: #eee;

    h1,
    h2,
    h3 {
        font-family: $font-family-title, sans-serif;
        font-weight: 700;
    }

    border-top: 3px solid $green;
}

header {
    .navbar-brand {
        width: 200px;

    }

    .menutoggler {
        position: absolute;
        top: 50px;
        right: 0px;
        border: 0;
        width: 60px;
        height: 50px;
        z-index: 1001;
        background-color: $black;

        .one,
        .two,
        .three {
            background-color: $white;
            height: 5px;
            width: 35px;
            margin: 6px 0px 6px 6px;
            transition: all 0.3s ease-in-out;
        }

        &.open {
            background-color: transparent;

            .one,
            .two,
            .three {
                background-color: $green;

            }

            .one {
                transform: rotate(45deg) translate(7px, 7px);
            }

            .two {
                transform: rotate(45deg);
            }

            .three {
                transform: rotate(-45deg) translate(8px, -9px);
            }
        }


    }

    .navbar-menu-mobile {
        display: none;

        &.on {
            display: flex;
            animation-name: fade-in;
            animation-duration: 0.3s;
            animation-fill-mode: forwards;
        }

        opacity: 0;
        background-color: rgba($black, 0.95);
        position: absolute;
        transition: all 0.5s ease-in-out;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1000;
        justify-content: center;
        align-items: center;

        .navbar-nav {
            .nav-item {
                .nav-link {
                    color: $white;
                    font-weight: 200;
                    font-size: 1.3em;
                    transition-duration: 0.5s;
                }

                &.active,
                &:focus,
                &:active {
                    background-color: transparent;
                }
            }
        }

        .info {
            span {
                strong {
                    color: $white;
                }
            }
        }

        .socials {
            a {
                color: $white;
            }
        }
    }

    .socials {
        a {
            text-decoration: none;
            color: $gray;
            font-size: 1.4em;

            @media screen and (min-width:769px) and (max-width: 1024px) {
                font-size: 1.2em;
            }
        }
    }

    .info {
        span {
            color: $green;

            @media screen and (min-width:769px) and (max-width: 1024px) {
                font-size: 0.9em;
            }

            strong {
                color: $black;
                font-size: 1.1em;

                @media screen and (min-width:769px) and (max-width: 1024px) {
                    font-size: 0.9em;
                }
            }
        }
    }

    .navbar-nav {
        .nav-item {
            transition: all 300ms ease;

            .nav-link {
                color: $black;
                font-weight: 600;
            }

            &:hover,
            &.active {
                background-color: $green;

                .nav-link {
                    color: $white;
                }
            }
        }
    }
}

.banner-main {
    h2 {
        font-size: 4em;

        @media screen and (min-width: 1025px) and (max-width: 1368px) {
            font-size: 3em;
        }

        @media screen and (min-width: 769px) and (max-width: 1024px) {
            font-size: 3em;
        }

        @media screen and (max-width: 768px) {
            font-size: 3em;
        }
    }

    p {
        font-size: 1.1em;
        line-height: 1.5;
    }
}

.carrousel-arranjos {

    // height: 700px;
    h2 {
        font-family: $font-family-default;
        color: $green;
        font-weight: 200;
        font-size: 3em;
        line-height: 1;

        strong {
            font-weight: 700;
            font-size: 2em;

            @media screen and (max-width: 1368px) {
                font-size: 1.5em;
            }

            font-family: $font-family-title;
        }
    }

    p {
        line-height: 1.5;
    }

    ul {
        li {
            list-style: none;
            border: 2px solid rgba(#A5A5A5, 0.5);
            font-weight: 700;
            font-size: 1.2em;
            transition: all 0.3s ease-in-out;

            &:hover {
                background-color: rgba(#a5a5a5, 0.5);
            }
        }
    }

    .arranjos-slider {
        height: 450px;

        @media screen and (min-width: 768px) {
            height: 525px;
        }

        @media screen and (min-width: 1366px) {
            height: 600px;
        }

        @media screen and (min-width: 1920px) {
            height: 650px;
        }

        .arranjos-slider__item {
            img {
                height: 450px;

                @media screen and (min-width: 768px) {
                    height: 600px;
                }

                @media screen and (min-width: 1920px) {
                    height: 650px;
                }

                object-fit: contain;
            }
        }

        .slick-dots li {
            border: 0;

            button:before {
                color: $green;
                font-size: 10px;
            }
        }
    }
}

.projetos-personalizados {
    h2 {
        color: $green;
        font-size: 2.5em;
    }

    p {
        line-height: 1.5;
    }

    .projetos-personalizados__photos {
        background-color: $green;

        .projetos-personalizados__photos-item {
            img {
                height: 350px;
                object-fit: cover;
            }
        }
    }
}

.newsletter{
    h2{
        @media screen and (min-width: 768px) and (max-width: 1024px){
            font-size: 1.75em;
        }
    }
    .form-control{
        height: 60px;
        background-color: $gray-light;
    }
    input[type="submit"]{
        height: 60px;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.w-lg-80 {
    @media screen and (min-width:769px) and (max-width: 1024px) {
        width: 80% !important;
    }
}