@import 'variables';
@import 'typograph';

body{
    font-family: $font-family-default, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1;
    color: #000;
    background-color: #fafafa;
    h1, h2, h3{
        font-family: $font-family-title, sans-serif;
        font-weight: 700;
    }
}

